.container {
	width: 100%;
	height: 100vh;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb( 10, 10, 10 );
	overflow: hidden;
}

.color {
	position: absolute;
	top: 10%;
	background: white;
	width: 30%;
	height: 80%;
	/*min-width: 267.417px;
	min-height: 527.1px;*/
	overflow: hidden;
}

.color1 {
	left: 4.5%;
	border-radius: 15px 15px 15px 15%;
}

.color2 {
	right: 4.5%;
	border-radius: 15px 15px 15% 15px;
}

.color3 {
	margin: 10px auto 0 auto;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: white;
	transition: all 1s;
	border: 3px dotted black;
}

.color-square {
	margin: 10px auto 0 auto;
	/*left: 40%;
	top: 5%;*/
	background: black;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	transition: all 1s;
	border: 3px dotted black;
}

.range {
	position: relative;
	padding: 0;
	width: 99%;
	margin: 0 auto;
}

.r {
	top: 15%;
}

.g {
	top: 22.5%;
}

.b {
	top: 30%;
}

.state {
	position: relative;
	top: 45%;
	text-align: center;
	font-weight: bold;
	background: rgb(40,40,40);
	color: white;
	padding: 30px;
}

.state3 {
	position: relative;
	top: 0;
	text-align: center;
	font-weight: bold;
}

.color-central {
	left: 35%;
	top: 25%;
	height: 50%;
	border-radius: 15% 15% 15px 15px;
}

p {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
}

.mixers {
	position: relative;
	top: 59%;
	height: 50px;
	overflow: hidden;;
	padding: 0;
	margin: 0;
}

.btn {
	width: 50%;
	height: 100%;
	margin: 0;
	border: none;
}

.selected {
	background: rgb(204,6,47);
	color: white;
	font-weight: bold;
}