.container {
	width: 100%;
	height: 100vh;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	overflow: hidden;
}

.color {
	position: absolute;
	top: 10%;
	width: 30%;
	height: 80%;
	overflow: hidden;
	background: white;
}

.color1 {
	left: 0.5%;
	border-radius: 15px 15px 15px 5%;
	min-height: 400px;
	box-shadow: 0px 3px 6px 4px rgba(166,166,166,1);
}

.color2 {
	right: 0.5%;
	border-radius: 15px 15px 5% 15px;
	min-height: 400px;
	box-shadow: 0px 3px 6px 4px rgba(166,166,166,1);
}

.color3 {
	margin: 10px auto 0 auto;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: white;
	transition: all 1s;
	border: 3px dotted black;
}

.color-square {
	margin: 10px auto 0 auto;
	background: black;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	transition: all 1s;
	border: 3px dotted black;
}

.range {
	position: relative;
	padding: 0;
	width: 99%;
	margin: 0 auto;
}

.r {
	top: 15%;
}

.g {
	top: 22.5%;
}

.b {
	top: 30%;
}

.state {
	position: relative;
	top: 43%;
	text-align: center;
	font-weight: bold;
	background: rgb(230,230,230);
	color: rgb(130,130,130);
	padding: 20px;
	font-size: 10px;
}

.state3 {
	position: relative;
	top: 0;
	text-align: center;
	font-weight: bold;
	color: rgb(130,130,130);
}

.color-central {
	left: 33%;
	top: 21%;
	height: 50%;
	border-radius: 5%;
	min-height: 303px;
	width: 34%;
	box-shadow: 0px 3px 6px 4px rgba(166,166,166,1);
	background: rgb(230,230,230);
}

p {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
}

.mixers {
	position: relative;
	top: 35%;
	height: 50px;
	overflow: hidden;;
	padding: 0;
	margin: 0;
}

.btn {
	width: 50%;
	height: 100%;
	margin: 0;
	border: none;
	overflow: hidden;
	background: rgb(123,27,34);
	color: black;
	font-size: 10px;
	font-weight: bold;
}

.selected {
	background: rgb(204,6,47);
	color: white;
}